body{
    display: flex;
    justify-content: center;
}
.background{
    display: flex;
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: linear-gradient(243.39deg, #033859 0.31%, #0F9FBF 100%);
    justify-content: center;
}
.lol{
    position: absolute;
width: 570px;
height: 340px;
left: 735px;
top: 320px;
}
.main{
    display: flex;
    width: 724px;
    height: 478px;
    left: 360px;
    top: 284px;
    background: #033859;
    border-radius: 18px; 
    flex-direction: column;
    justify-content: space-between; 
}
.text{
    display: flex;
    justify-content: space-around;
}
.p1{
    display: flex;
    flex-direction: column;
}
.text-1{
    position: absolute;
    width: 328px;
    height: 218px;
    left: 394px;
    top: 449px;

    font-family: Grenze Gotisch;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    color: #FFFFFF;
}
h1{
    position: absolute;
    width: 240px;
    height: 108px;
    left: 438px;
    top: calc(50% - 108px/2 - 131px);

    font-family: Griffy;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 108px;
    text-align: center;
    color: #FFFFFF;
}
.images{
    display: flex;
    justify-content: space-evenly;
}